.anchor
**/*.rs.bk
test-ledger
.yarn

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Build generated
build/
target


# Environments
.env
.env*.local

# dependencies
logs
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# vercel
.vercel

# typescript
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

